ul {
  list-style-type: none;
  padding: 0;
}
a {
  display: block;
  color: #6c7ea0;
  text-decoration: none;
  transition: all .5s ease-in-out;
  padding: 15px 0;
  border-bottom: 1px dotted #333;
  background: linear-gradient(90deg,#1f1f1f, #222);
}
a::after {
  content: ">";
  margin-left: 5px;
  font-size: 01px;
  font-weight: bold;
  vertical-align: baseline;
  color: #555;
}
a:hover {
  color: rgb(123, 184, 123);
  background: linear-gradient(90deg,#161616, #222);
  font-weight: bold;
}
.view {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr auto;
}

.chanel {
  grid-row: 1 / span 3;/*３つ先まで*/
  grid-column: 1 / 2;
}

.channel-name {
  grid-area: 1 / 2;
}
.channel-name h2 {
  padding-bottom: 16px;
  border-bottom: 1px dotted #333;
}

.messages {
  grid-area: 2 / 2;
  height: 300px;
  overflow: scroll;
  color: #42b883;
}

.form {
  grid-area: 3 / 2;
}

.form input {
  border-radius: 3px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.form input[type="text"] {
  width: 300px;
  height: 30px;
  font-size: 2rem;
  color: #6c7ea0;
  background-color: #222;
  border: 1px solid #333;
  box-shadow: 0 0 10px #111 inset;
}
.form input[type="button"] {
  width: 150px;
  height: 35px;
  font-size: 1.5rem;
  color: #42b883;
  border: 1px solid #2f2f2f;
  background: linear-gradient(#292929, #222);
  box-shadow: 0 0 10px #111;
  transition: all .5s ease-in-out;
}
.form input[type="button"]:hover {
  box-shadow: 0 0 10px #444;
  border: 1px solid #555;
}